<div class="my-3">
    <table class='table borderless'>
        <thead>
            <tr>
                <td style="background-color:#F6FAFB;font-weight:bold;">
                    Corona Virus Summary in {{Countryy.Country}}

                </td>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered table-striped">
        <tr style="background-color:#FDE29D">

            <td> Total Cases</td>
            <td>{{ Countryy.TotalConfirmed | number:'1.0':'en-US'}}</td>

        </tr>
        <tr style="background-color:#FDE29D">
            <td> New Cases</td>
            <td>{{ Countryy.NewConfirmed | number:'1.0':'en-US'}}</td>
        </tr>
        <tr style="background-color:#FDE29D">
            <td> Active Cases</td>
            <td>{{ Countryy.TotalConfirmed - Countryy.TotalRecovered | number:'1.0':'en-US' }}</td>
        </tr>
        <tr style="background-color:#87C7F3">

            <td> Total Recovered</td>
            <td>{{ Countryy.TotalRecovered | number:'1.0':'en-US'}}</td>

        </tr>
        <tr style="background-color:#87C7F3">
            <td> New Recovered</td>
            <td>{{ Countryy.NewRecovered | number:'1.0':'en-US'}}</td>

        </tr>
        <tr style="background-color:#87C7F3">
            <td> Recovery Rate</td>
            <td>{{ (Countryy.TotalRecovered / Countryy.TotalConfirmed)*100| number : '1.2-2' }}%</td>

        </tr>
        <tr style="background-color:#ED97AB">

            <td> Total Deaths</td>
            <td>{{ Countryy.TotalDeaths | number:'1.0':'en-US'}}</td>

        </tr>
        <tr style="background-color:#ED97AB">
            <td> New Deaths</td>
            <td>{{ Countryy.NewDeaths | number:'1.0':'en-US'}}</td>

        </tr>
        <tr style="background-color:#ED97AB">
            <td> Moratality Rate</td>
            <td>{{ (Countryy.TotalDeaths / Countryy.TotalConfirmed)*100| number : '1.2-2' }}%</td>
        </tr>
    </table>



    <table class='table borderless'>
        <thead>
            <tr>
                <td style="background-color:#F6FAFB;font-weight:bold;">
                    Corona Virus Summary in {{Countryy.Country}}
                </td>
            </tr>
        </thead>
    </table>


    <div class="chart-wrapper">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColors">
        </canvas>
    </div>
    <br>



    <table class='table borderless'>
        <thead>
            <tr>
                <td style="background-color:#F6FAFB;font-weight:bold;">
                    Daily Corona Virus in {{Countryy.Country}}
                </td>
            </tr>
        </thead>
    </table>


    <div class="chartjs-container">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType">
        </canvas>
    </div>
    <br>


    <table class='table borderless'>
        <thead>
            <tr>
                <td style="background-color:#F6FAFB;font-weight:bold;">
                    Total Corona Virus in {{Countryy.Country}}
                </td>
            </tr>
        </thead>
    </table>




    <div class="chartjs-container">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [chartType]="lineChartType">
        </canvas>
    </div>





</div>