<h1>Add news</h1>

<form [formGroup]="newsForm">
    <div class="form-group">
        <label for="exampleFormControlInput1">Country</label> &nbsp;

        <select formControlName="country" id="Countries" class="form-control">
            <option *ngFor="let h of Countries.Countries" [value]="h.CountryCode">
                {{h.Country}}
            </option>
        </select>
    </div>

    <label for="exampleFormControlTextarea1"> News</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="news"></textarea>

</form>
<br>
<button class="btn btn-info" (click)="addnews()"> submit </button>